<%= facade.count %> Members
<section class='House-list'>
<ul><% facade.members.each do |member| %>
  <li class='name'>House Member: <%= member.name %></li>
  <li class='id'>Member id:<%= member.id %></li>
</section></ul>
<% end %>  